<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="/css/semantic.css" type="text/css" />
<link rel="stylesheet" href="/css/fields/fieldBuild.css" type="text/css" />
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.form.js"></script>
<script src="/js/Registration/registration.js"></script>
<script src="/js/formXHR.js"></script>
<script src="/js/formHelperSemantic.js"></script>
<script src="/js/fields/fieldBuild.js"></script>
<title>Attendees Page</title>
</head>

<body>
<div class="wrapper"> 
    {{{header}}}
    <div class="main_container inner_container">
        <div class="container">
            <div class="inner_left" style="width:800px;padding-top:10px;">
                 <div class="ui four steps">
                    <div class="ui disabled step">
                        Options
                    </div>
                    <div class="ui active step">
                        Attendees
                    </div>
                    <div class="ui disabled step">
                        Payment
                    </div>
                    <div class="ui disabled step">
                        Reciept
                    </div>
                </div>
                
                <div style="padding-top:20px">Please provide the name for the event registration.</div>
                
                {{{form}}}
            </div>
        </div>
        <div class="clear"></div>
    </div>
    {{{footer}}}
</div>
</body>
</html>