<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="semantic.css" type="text/css" />
<title>Registration Options</title>
</head>

<body>
<div class="wrapper"> 
    {{{header}}}
    <div class="main_container inner_container">
        <div class="container">
            <div class="inner_left" style="width:800px;">
                <div class="ui four steps">
                    <div class="ui active step">
                        Options
                    </div>
                    <div class="ui disabled step">
                        Attendees
                    </div>
                    <div class="ui disabled step">
                        Payment
                    </div>
                    <div class="ui disabled step">
                        Reciept
                    </div>
                </div>
                <div style="padding-top:20px">
                Choose the options with the assigned prices listed below!
                </div>
                <table class="ui celled table segment">
                    <thead>
                        <tr><th>Choose an Option</th>
                        <th>Price</th>
                        <th>Quantity</th></tr>
                    </thead>
                    <tbody>
                        <tr>
                          <td>John</td>
                          <td>$20</td>
                          <td><select name="select">
                              <option value="value1">1</option> 
                              <option value="value2">2</option>
                              <option value="value3">3</option>
                              <option value="value1">4</option> 
                              <option value="value2">5</option>
                              <option value="value3">6</option>
                              <option value="value1">7</option> 
                              <option value="value2">8</option>
                              <option value="value3">9</option>
                            </select>
                          </td>
                        </tr>
                        <tr>
                          <td>Jamie</td>
                          <td>$40</td>
                          <td><select name="select">
                               <option value="value1">1</option> 
                              <option value="value2">2</option>
                              <option value="value3">3</option>
                              <option value="value1">4</option> 
                              <option value="value2">5</option>
                              <option value="value3">6</option>
                              <option value="value1">7</option> 
                              <option value="value2">8</option>
                              <option value="value3">9</option>
                            </select></td>
                        </tr>
                        <tr>
                          <td>Jill</td>
                          <td>$50</td>
                          <td><select name="select">
                              <option value="value1">1</option> 
                              <option value="value2">2</option>
                              <option value="value3">3</option>
                              <option value="value1">4</option> 
                              <option value="value2">5</option>
                              <option value="value3">6</option>
                              <option value="value1">7</option> 
                              <option value="value2">8</option>
                              <option value="value3">9</option>
                            </select></td>
                        </tr>
                      </tbody>
                </table>
                <div class="ui blue message">
                  Total: $150.00
                    <div class="ui animated button" style="margin-left:500px;">
                    <div class="visible content">Next</div>
                      <div class="hidden content">
                         <i class="right arrow icon"></i>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    {{{footer}}}
</div>
</body>
</html>