<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="/css/semantic.css" type="text/css" />
<title>Payment Page</title>
</head>

<body>
<div class="wrapper"> 
    {{{header}}}
    <div class="main_container inner_container">
        <div class="container">
            <div class="inner_left" style="width:800px;padding-top:10px;">
                <div class="ui four steps">
                    <div class="ui disabled step">
                        Options
                    </div>
                    <div class="ui disabled step">
                        Attendees
                    </div>
                    <div class="ui active step">
                        Payment
                    </div>
                    <div class="ui disabled step">
                        Reciept
                    </div>
                </div>
                <div style="padding-top:20px">Please review the following details for transaction.</div>
                <table class="ui celled table segment">
                    <thead>
                        <tr><th>Option</th>
                        <th>Name</th>
                        <th>Price</th></tr>
                    </thead>
                    <tbody>
                        {{#each data.order.attendees}}
                        <tr>
                            <td>{{title}}</td>
                            <td>{{name}}</td>
                            <td>${{price}}</td>
                        </tr>
                        {{/each}}
                        <tr>
                          <td></td>
                          <td>Total</td>
                          <td>${{data.order.total}}</td>
                        </tr>
                      </tbody>
                </table>
                
                {{{form}}}
               
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    {{{footer}}}
</div>
</body>
</html>