<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="/css/semantic.css" type="text/css" />
<title>Payment Page</title>
</head>

<body>
<div class="wrapper"> 
    {{{header}}}
    <div class="main_container inner_container">
        <div class="container">
            <div class="inner_left" style="width:800px;padding-top:10px;">
                 <div class="ui four steps">
                    <div class="ui disabled step">
                        Options
                    </div>
                    <div class="ui disabled step">
                        Attendees
                    </div>
                    <div class="ui disabled step">
                        Payment
                    </div>
                    <div class="ui active step">
                        Reciept
                    </div>
                </div>
                <div style="padding-top:20px">
                Thank you for your transaction. We'll send a confirmationto your email.
                </div>
               <table class="ui celled table segment">
                    <thead>
                        <tr><th>Option</th>
                        <th>Name</th>
                        <th>Price</th></tr>
                    </thead>
                    <tbody>
                        <tr>
                          <td>Student</td>
                          <td>Testing1 </td>
                          <td>$20</td>
                        </tr>
                        <tr>
                          <td>Lawyer</td>
                          <td>Testing2</td>
                          <td>$40</td>
                        </tr>
                        <tr>
                          <td>Teacher</td>
                          <td>Testing3</td>
                          <td>$50</td>
                        </tr>
                        <tr>
                          <td></td>
                          <td>Total</td>
                          <td>$150</td>
                        </tr>
                      </tbody>
                </table>
                Billing Information
                <div class="ui small form segment">
                    <div class="field">
                      <label>Nick Young</label>
                    </div>
                  <div class="field">
                    <label>Email@test.com</label>
                  </div>
                  <div class="field">
                    <label>1000 test street</label>
                  </div>
                    <div class="field">
                      <label>Queens, New York - 11304</label>
                    </div>
              </div>
               
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    {{{footer}}}
</div>
</body>
</html>