<form class="ui form options"  data-xhr="true" action="/Registration/form/options" method="post">
    <div class="ui warning message">
        <div class="header">Error in form:</div>
        <ul class="list"></ul>
    </div>

    <table class="ui celled table segment">
        <thead>
            <tr><th>Choose an Option</th>
            <th>Price</th>
            <th>Quantity</th></tr>
        </thead>
        <tbody>
            {{{quantity}}}
        </tbody>
    </table>
    {{{id}}}
    {{{event_slug}}}
</form>