Billing Information
                <div class="ui small form segment">
                  <div class="two fields">
                    <div class="field">
                      <label>First Name</label>
                      <input placeholder="First Name" type="text">
                    </div>
                    <div class="field">
                      <label>Last Name</label>
                      <input placeholder="Last Name" type="text">
                    </div>
                  </div>
                  <div class="field">
                    <label>Email Address</label>
                    <input placeholder="Email" type="text">
                  </div>
                  <div class="field">
                    <label>Street Address</label>
                    <input placeholder="Street Address" type="text">
                  </div>
                  <div class="three fields">
                    <div class="field">
                      <label>City</label>
                      <input placeholder="City" type="text">
                    </div>
                    <div class="field">
                      <label>State</label>
                      <input placeholder="State" type="text">
                    </div>
                    <div class="field">
                      <label>Zipcode</label>
                      <input placeholder="Zipcode" type="text">
                    </div>
                  </div>
                  <div class="field">
                      <label>Card Number</label>
                      <input placeholder="Card Number" type="text">
                  </div>
                  <div class="two fields">
                    <div class="field">
                      <label>Security Code (CVC)</label>
                      <input placeholder="CVC" type="text">
                    </div>
                    <div class="date field">
                      <label>Expiration Date</label>
                      <input placeholder="expiration date" type="text">
                    </div>
                  </div>
                <div class="ui blue small submit button">Submit</div>
              </div>